<% provide(:title, "Listing skills")%>
<h1>Listing skills</h1>

<div class="row">
  <aside class="span3">
  <div class="aside-left-my-info">
    <%= render 'shared/my_info' %>
  </div>
  </aside>
  
  <div class="span9 ">
    <%= will_paginate %>
    <ul class="users">
      <%= render @skills%>
    </ul>
    <%= will_paginate %>
  </div>
</div>
<br>


<br>
<%= link_to 'New Skill', new_skill_path %>
