<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <% #image_tag("logo.png", :alt => "Sample app", :class => "round")%>
      <nav class="round">
        <ul class="nav pull-right">
        <li><%= link_to "Home", 'home'%></li>
        <li><%= link_to "About", 'about'%></li>
        <li><%= link_to "Contact", 'contact'%></li>
        
        <li><%= link_to "Sign in", signup_path, class: "btn btn-large btn-primary"%></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
