<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "custom_bootstrap" %>
  </head>
  <body>
    <div class="container">
       <%= render 'layouts/header' %>
       
       <!--
       在 Rails 中转向页面后显示一个信息的功能是通过 flash 变量实现的，flash 就像
       闪存一样，只是暂时存储的数据。flash 变量的值其实是一个 Hash
        flash[:success] = "Welcome to the Sample App!"
          ==> <div class="alert alert-success">Welcome to the Sample App!</div>
       -->
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
       
      <section>
      <%= yield %>
      </section>
      
       <%= render 'layouts/footer' %>
       <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
</html>
