<% ajax_view ||= false %>

<tr id=<%="#{CommentsController.gen_tr_id(comment.id)}"%> >
  <td class="td_left">
  <div class="best_in_place_div">
      <li>
      <strong>Writer:</strong>
      <%=link_to comment.user.name, comment.user %> | <%=mail_to comment.user.email %></li>
      
      <li><strong>Last Update on:</strong>
      <%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %></li>
      
      <% if current_user?( comment.owner )%>
        <li><strong>Score:</strong>
        <%= best_in_place comment, :score %> </li>
        <li><strong>Vluation:</strong>
        <%= best_in_place comment, :vluation, :type => :textarea, :sanitize => false, :maxlength => VLUATION_LEN_MAX%></li>
      <% else%>
        <li><strong>Score:</strong>
        <%= comment.score %>
        </li><li>
        <strong>Vluation:</strong>
        <%= comment.vluation %></li>
      <% end %>
  </p>
  </div>
  </td>

   <% if current_user?(comment.owner) %>
    <td>
    <% if !ajax_view %>
      <%= link_to 'Show', comment %> | 
    <%end%>
    <%= link_to 'Edit', edit_comment_path(comment) %> | 
    <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, remote: ajax_view  %>
    </td>
  <% end %>
</tr>



