<% ajax_view ||= false %>

<tr id=<%="#{CommentsController.gen_tr_id(comment.id)}"%> >
  <td class="td_left">
  <div class="best_in_place_div">
    <p>
      <strong>Writer:</strong>
      <%=link_to comment.user.name, comment.user %> | <%=mail_to comment.user.email %><br>
      
      <% if current_user?( comment.owner )%>
         <strong>Score:</strong>
        <%= best_in_place comment, :score %> <br>
         <strong>Vluation:</strong>
        <%= best_in_place comment, :vluation, :type => :textarea, :sanitize => false, :maxlength => VLUATION_LEN_MAX%>
      <% else%>
        <strong>Score:</strong>
        <%= comment.score %>
        <br>
        <strong>Vluation:</strong>
        <%= comment.vluation %>
      <% end %>
  </p>
  </div>
  </td>

   <% if current_user?(comment.owner) %>
    <td>
    <% if !ajax_view %>
      <%= link_to 'Show', comment %> | 
      <%= link_to 'Edit', edit_comment_path(comment) %> | 
    <%end%>
    <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, remote: ajax_view  %>
    </td>
  <% end %>
</tr>



