<tr>
  <td class="td_left">
  <div class="best_in_place_div">
    <li>
    <strong>Name:</strong>
    <%= best_in_place personal_detail, :name %>

    </li><li>
    <strong>Age:</strong>
    <%= best_in_place personal_detail, :age %>
    
    </li><li>
    <strong>Sex:</strong>
    <%= best_in_place personal_detail, :sex %>

    </li><li>
    <strong>Email:</strong>
    <%= best_in_place personal_detail, :email %>
    
    </li><li>
    <strong>Mobile:</strong>
    <%= best_in_place personal_detail, :mobile %>
    
    </li><li>
    <strong>profile_id:</strong>
    <%= personal_detail.profile_id %>
    </li>
  </div>
  </td>
  
  <td>
    <%= link_to 'Show', personal_detail %>|
    <%= link_to 'Edit', edit_personal_detail_path(personal_detail) %>|
    <%= link_to 'Destroy', personal_detail, method: :delete, data: { confirm: 'Are you sure?' } %>  
  </td>
</tr>



