<h1>Listing personal_details</h1>
<% provide(:title, 'All Personal Details')%>
<div class="row">
<aside class="span3">
  <div class="aside-left-my-info">
    <%= render 'shared/my_info' %>
  </div>
  </aside>
  
  <div class="span9 ">
    <%= will_paginate %>
    <ul class="normal_ul">
    <table class="table table-hover table-striped table-bordered">
      <% if current_user.admin? %>
        <%= render @personal_details %>
      <% else%>
        <%= render @personal_detail %>
      <% end %>
    </table>
    </ul>
    <%= will_paginate %>
  </div>
</div>

<end>

<br>
<%= link_to 'New Personal detail', new_personal_detail_path %>

