<% p 'viewhere'%>
<% @ajax_view ||= false %>
<% provide(:title, "New Personal Details")%>
<p id="notice"><%= notice %></p>

<% if @ajax_view %>
  <div id="new_form_ajax">
  <%= render 'form'%>
  </div>
<%else%>
  <h1>New personal_detail</h1>
  <div class="row">
  <aside class="span3">
    <div class="aside-left-my-info">
      <%= render 'shared/my_info' %>
    </div>
    </aside>
    
    <div class="span9 ">
      <div id="personal_detail_new_form">
        <%= render 'form' %>
       <%= link_to 'Back', personal_detail_path ,  class:"btn btn-sm btn-primary"%>
       </div>
    </div>
  </div>
<%end%>
<% p 'viewhere'%>