<% display_show ||= :Create %>
<%= form_for(@profile) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field" id="profile_create_form">
    <li><%= f.label :category %></li>
    <li><%= f.select :category, PROFILE_CATEGORY_WORDS_OPTIONS, class:"form-control" %></li>
  </div>

  <div class="actions">
    <br>
    <%= f.submit display_show, class:"btn btn-sm btn-primary"%>
  </div>
<% end %>
