<div class="profile best_in_place_div"> 

  <div class="collapse-head">
    <a href="#collapse0" data-toggle="collapse">
      <h4>
      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
      Account
      </h4>
    </a>
  </div>
  <div class="collapse in" id="collapse0">
     <%= render @profile.user %>
  </div>
  
  <div class="collapse-head">
    <a href="#collapse1" data-toggle="collapse">
      <h4>
        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
        Resume Infomation
      </h4>
    </a>
  </div>
  <div class="collapse " id="collapse1">
    <p>
      <strong>Category:</strong>
      <%= best_in_place @profile, :category %>
    </p>

    <p>
      <strong>Stat:</strong>
      <%= best_in_place @profile, :stat %>
    </p>

    <p>
      <strong>Score:</strong>
      <%= best_in_place @profile, :score %>
    </p>
  </div>
 
  
  <div class="collapse-head">
    <a href="#collapse2" data-toggle="collapse">
      <h4>
      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
      Personal Infomation
      </h4>
    </a>
  </div>
  <div class="collapse" id="collapse2">
     <%= render @profile.personal_details %>
  </div>
  
  
  <div class="collapse-head">
    <a href="#collapse3" data-toggle="collapse">
      <h4>
      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
      Education
      </h4>
    </a>
  </div>
  <div class="collapse" id="collapse3">
    <%= render @profile.educations %>
  </div>
  
  
  <div class="collapse-head">
    <a href="#collapse4" data-toggle="collapse">
    <h4>
    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
    Skills</h4></a>
  </div>
  <div class="collapse" id="collapse4">
    <%= render @profile.skill_items %>
  </div>

  
  <%= link_to 'Edit', edit_profile_path(@profile) ,:class => "btn btn-large btn-primary"%>
  <% if !current_user.admin? %>
  <%= link_to 'Submit', "#" ,:class => "btn btn-large btn-primary"%>
  <% end %>
  <%= link_to 'Back', profiles_path, :class => "btn btn-large btn-primary" %>
</div> 
