<% profiles.each { |p| %>
  <tr>
    <td><%= link_to p.id, p%></td>
    <td><%=PROFILE_CATEGORY_WORDS[p.category]%></td>
    <td><%=p.score%></td>
    <td><span class="<%="badge #{PROFILE_STAT_STYLES[p.stat]}"%>"><%=PROFILE_STATS_WORDS[p.stat]%></span></td>
  </tr>
<% } %>