<div class="profile best_in_place_div">
  <div class="collapse-head">
    <a href="#collapse0" data-toggle="collapse">
      <h4>
      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
      Account
      </h4>
    </a>
  </div>
  <div class="collapse in" id="collapse0">
  <ul>
    <table class="table table-hover table-striped table-bordered"><tr><td>
     <%= render @profile.user %>
    </td></tr></table>
  </ul>
  </div>
  
  <div class="collapse-head">
    <a href="#collapse1" data-toggle="collapse">
      <h4>
        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
        Resume Infomation
      </h4>
    </a>
  </div>
  <div class="collapse " id="collapse1">
  <ul>
    <%= render 'profile_info'%>
  </ul>
  </div>
 
  
  <div class="collapse-head">
    <a href="#collapse2" data-toggle="collapse">
      <h4>
      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
      Personal Infomation( <%=@profile.personal_details.count %> )
      </h4>
    </a>
  </div>
  <div class="collapse" id="collapse2">
    <ul>
      <table class="table table-hover table-striped table-bordered">
      <%= render 'shared/shared_profile_item_th'%>
      <%= render @profile.personal_details %>
      </table>
    </ul>
  </div>
  
  
  <div class="collapse-head">
    <a href="#collapse3" data-toggle="collapse">
      <h4>
      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
      Education( <%=@profile.educations.count %> )
      </h4>
    </a>
  </div>
  <div class="collapse" id="collapse3">
    <ul>
    <table class="table table-hover table-striped table-bordered">
    <%= render @profile.educations %>
    </table>
    </ul>
  </div>
  
  
  <div class="collapse-head">
    <a href="#collapse4" data-toggle="collapse">
    <h4>
    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
    Skills( <%=@profile.skill_items.count %> )</h4></a>
  </div>
  <div class="collapse" id="collapse4">
    <ul>
      <table class="table table-hover table-striped table-bordered">
      <%= render @profile.skill_items %>
      </table>
    </ul>
  </div>

  
  <%= link_to 'Edit', edit_profile_path(@profile) ,:class => "btn btn-large btn-primary"%>
  <% if !current_user.admin? %>
  <%= link_to 'Submit', "#" ,:class => "btn btn-large btn-primary"%>
  <% end %>
  <%= link_to 'Back', profiles_path, :class => "btn btn-large btn-primary" %>
</div> 
