<div class="profile best_in_place_div">
  <div class="collapse-head">
    <a href="#collapse0" data-toggle="collapse">
      <h4>
      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
      Account
      </h4>
    </a>
  </div>
  <div class="collapse in" id="collapse0">
  <ul>
    <table class="table table-hover table-striped table-bordered"><tr><td>
     <%= render @profile.user %>
    </td></tr></table>
  </ul>
  </div>
  
  <div class="collapse-head">
    <a href="#collapse1" data-toggle="collapse">
      <h4>
        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
        Resume Infomation
      </h4>
    </a>
  </div>
  <div class="collapse in  " id="collapse1">
  <ul>
    <%= render 'profile_info'%>
  </ul>
  </div>
 
  
  <div class="collapse-head">
    <a href="#collapse2" data-toggle="collapse">
      <h4>
      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
      Personal Infomation
      </h4>
    </a>
  </div>
  <div class="collapse in " id="collapse2">
    <div id="personal_detail_list">
      <ul>
        <table class="table table-hover table-striped table-bordered">
        <tbody>
        <%= render 'shared/shared_profile_item_th'%>
        <% if @profile.personal_detail %>
          <%= render @profile.personal_detail, :ajax_view => true %>
        <%end%>
        </tbody>
        </table>
      </ul>
    </div>
    
    <div id="new_personal_detail_ajax_link">
      <p class="profile_link" id="new_personal_detail_link">
      <%if @profile.personal_detail.nil? %>
        <% if current_user?(@profile.user) and !current_user.admin? %>
          <%= link_to 'New', new_personal_detail_path(:format => :js, :ajax_view => true), :remote => true%>
        <% end%>
      <% end %>
      </p>
    </div>
  </div>
  
  
  <div class="collapse-head">
    <a href="#collapse3" data-toggle="collapse">
      <h4>
      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
      <span id="educations_table_title">Education( <%=@profile.educations.count %> )</span>
      </h4>
    </a>
  </div>
  <div class="collapse in " id="collapse3">
    <div id="educations_list">
      <ul>
      <table class="table table-hover table-striped table-bordered">
      <tbody>
      <%= render @profile.educations,  :ajax_view => true %>
      </tbody>
      </table>
      </ul>
    </div>
    
    <div id="new_education_ajax">
      <p class="profile_link">
      <% if current_user?(@profile.user) and !current_user.admin?%>
      <%= link_to 'New', new_education_path(:format => :js, :ajax_view => true), :remote => true%>
      <% end%>
      </p>
    </div>
  </div>
  
  
  <div class="collapse-head">
    <a href="#collapse4" data-toggle="collapse">
    <h4>
    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
    Skills( <%=@profile.skill_items.count %> )</h4></a>
  </div>
  <div class="collapse in " id="collapse4">
    <ul>
      <table class="table table-hover table-striped table-bordered">
      <%= render @profile.skill_items %>
      </table>
    </ul>
  </div>

  
  <%= link_to 'Edit', edit_profile_path(@profile) ,:class => "btn btn-sm btn-primary"%> 
  <% if !current_user.admin? %>
  <%= link_to 'Submit', "#" ,:class => "btn btn-sm btn-primary"%> 
  <% end %>
  <%= link_to 'Back', profiles_path, :class => "btn btn-sm btn-primary" %>
</div> 
