<div class="profile best_in_place_div">
  <div class="collapse-head">
    <a href="#collapse0" data-toggle="collapse">
      <h4>
      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
      Account
      </h4>
    </a>
  </div>
  <div class="collapse in" id="collapse0">
  <ul>
    <table class="table table-hover table-striped table-bordered"><tr><td>
     <%= render @profile.user %>
    </td></tr></table>
  </ul>
  </div>
  
  <div class="collapse-head">
    <a href="#collapse1" data-toggle="collapse">
      <h4>
        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
        Resume Infomation
      </h4>
    </a>
  </div>
  <div class="collapse in  " id="collapse1">
  <ul>
    <%= render 'profile_info'%>
  </ul>
  </div>
 
  
  <div class="collapse-head">
    <a href="#collapse2" data-toggle="collapse">
      <h4>
      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
      Personal Infomation
      </h4>
    </a>
  </div>
  <div class="collapse in " id="collapse2">
    <div id="personal_detail_list">
      <ul>
        <table class="table table-hover table-striped table-bordered">
          <tbody>
          <%= render 'shared/shared_profile_item_th'%>
          <% if @profile.personal_detail %>
            <%= render @profile.personal_detail, :ajax_view => true %>
          <% end %>
          </tbody>
        </table>
      </ul>
    </div>
    <div id="new_personal_detail_ajax_link">
      <p class="profile_link" id="new_personal_detail_link">
        <% if @profile.personal_detail.nil? and current_user?(@profile.user) and !current_user.admin? %>
            <%= link_to 'New', new_personal_detail_path(:format => :js, :ajax_view => true), :remote => true%>
        <% end %>
      </p>
    </div>
  </div>

  <div class="collapse-head">
    <a href="#collapse3" data-toggle="collapse">
      <h4>
      <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
      <span id="educations_table_title">Education( <%=@profile.educations.count %> )</span>
      </h4>
    </a>
  </div>
  <div class="collapse in " id="collapse3">
    <div id="educations_list">
      <ul>
      <table class="table table-hover table-striped table-bordered">
      <tbody>
      <%= render @profile.educations,  :ajax_view => true %>
      </tbody>
      </table>
      </ul>
    </div>
    
    <div id="new_education_ajax">
      <p class="profile_link">
      <% if current_user?(@profile.user) and !current_user.admin?%>
      <%= link_to 'New', new_education_path(:format => :js, :ajax_view => true), :remote => true%>
      <% end%>
      </p>
    </div>
  </div>
  
  
  <div class="collapse-head">
    <a href="#collapse4" data-toggle="collapse">
    <h4>
    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
    <span id="skill_item_table_title">Skills( <%=@profile.skill_items.count %> )</span></h4></a>
  </div>
  <div class="collapse in " id="collapse4">
    <div id="skill_items_list">
      <ul>
        <table class="table table-hover table-striped table-bordered">
          <% (0...SKILL_CATEGORY_WORDS.size).each {|idx|  %>
          <% skills = @profile.skills.where("category = ?", idx).order("id ASC")%>
          <% sum = skills.sum(:score) %>
          <%= render 'profiles/skill_for_profile', :skills => skills ,
                                          :category => idx,
                                          :sum => sum%>
          <% } %>
        </table>
      </ul>
     </div>
    
    <!-- Button to trigger modal -->
    <% if current_user?(@profile.user) %>
    <a href="#skill_slt_modal" role="button" class="btn" data-toggle="modal">Select my Skills</a>
    <%= render 'skills_slt_modal'%>
    <%end%>
  </div>

  
  <HR width="100%" color=#c0c0c0 SIZE=4>
  
  <% if current_user.admin? %>
    <div class="comments_zone">
      <div id="comments_list">
        <div class="collapse-head">
          <a href="#collapse5" data-toggle="collapse"><h4>
          <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s" style="display:inline-block"></span>
          <span id="comment_table_title">Comments( <%=@profile.comments.count%> by Administrator )</span></h4></a>
        </div>
        <div class="collapse in " id="collapse5">
          <ul><table class="table table-hover table-striped table-bordered">
              <%= render @profile.comments, :ajax_view=>true %>
          </table></ul>
        </div>
      </div>

      <div id="new_comment_ajax">
        <p class="comment_link">
          <%=link_to 'New', new_comment_path(:format => :js, :ajax_view => true, :profile_id => @profile.id), :remote => true%>
        </p>
      </div>
    </div>
    
    <HR width="100%" color=#c0c0c0 SIZE=4>
    <br>
    
        
    
    <div class="operations_zone">
      <span><%= link_to 'All Profiles', profiles_path, :class => "btn btn-sm btn-primary"%></span>
      <div class="btn-group" id="update_stat_btn_group">
        <button type="button" class="btn btn-danger" id="update_stat_org_stat"><%=PROFILE_STATS_WORDS[@profile.stat]%></button>
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
          <span class="sr-only">Select</span>
        </button>
        <ul class="dropdown-menu" role="menu" id="update_stat_available_stat">
          <!-- show next available status -->
          <% PROFILE_STATS_HASH[@profile.stat].each{|stat| %>
            <li><%= link_to PROFILE_STATS_WORDS[stat], update_stat_profile_path(:format => :js, :ajax_view => true, :stat => stat),
                                                       data: { confirm: 'Are you sure?' }, remote: true %></li>
          <% } %>
        </ul>
      </div>
    </div>
  <% else %>
    <%= link_to 'Edit', edit_profile_path(@profile) ,:class => "btn btn-sm btn-primary"%> 
    <% if !current_user.admin? %>
    <%= link_to 'Submit', "#" ,:class => "btn btn-sm btn-primary"%> 
    <% end %>
    <%= link_to 'Back', profiles_path, :class => "btn btn-sm btn-primary" %>
  <% end %>
</div> 
