<tr><td colspan="2"><b><%=SKILL_CATEGORY_WORDS[category]%><b></td></tr>

<% if skills.nil? %>
  <tr colspan="2"><td><b>No Skills Data<b></td></tr>
<% else %>
  <%skills.each{ |skill| %>
    <tr>
      <td class="td_left" id="skill_lst_modal">
      <div>
        <strong>ID:</strong><span class="badge"> <%= skill.id %></span> |  
        <strong>Category:</strong>
        <span class="<%="badge #{SKILL_CATEGORY_STYLES[skill.category]}"%>">
        <%= SKILL_CATEGORY_WORDS[skill.category] %></span> |  
        <strong>Score:</strong>
        <span class="badge badge-info"><%= skill.score %></span>
        <br>
        <strong>Description:</strong>
        <%= skill.description %>  
      </div>
      
      </td><td>
       <!--<%= link_to 'Mark', skill, :class => "btn btn-sm btn-primary" %>-->
      <% if !my_skill_ids.nil? and my_skill_ids.include?(skill.id) %>
        <%= check_box_tag "skill_ids[]", skill.id, :checked => true %>
      <%else%>
        <%= check_box_tag "skill_ids[]", skill.id%>  
      <%end%>
      </td>
    </tr>
  <%}%>
<% end %>


