<p id="notice"><%= notice %></p>
<% provide(:title, "Edit profile")%>
<h1>Editing profile</h1>
<div class="row">
  <aside class="span3">
  <div class="aside-left-my-info">
    <%= render 'shared/my_info' %>
  </div>
  </aside>

  <div class="span9 ">
    <ul class="normal_ul">
      <%= render 'form', :display_show => :Update %>
    </ul>
    <%= link_to 'Show', @profile %> | <%= link_to 'Back', profiles_path %>
  </div>
</div>
