<% provide(:title, "Listing profiles")%>
<h1>Listing profiles</h1>
<div class="row">
  <aside class="span3">
  <div class="aside-left-my-info">
    <%= render 'shared/my_info' %>
  </div>
  </aside>
  
  <div class="span9 ">
    <%= will_paginate %>
    <ul class="users">
    <table class="table table-hover">
      <%= render 'profiles_item_th'%>
      <%= render 'profiles_items' %>
    </table>
    </ul>
    <%= will_paginate %>
  </div>
</div>
<br>

<br>
<%= link_to 'New Profile', new_profile_path %>