<%= provide(:title, @title) %>
<% if signed_in? %>
  <div class="row">
    <aside class="span3">
      <section>
        <%= render 'shared/my_info' %>
      </section>
    </aside>
    <span class="span9">
      <section>
        <% if current_user.profile.nil? %>
        <h4>Your profile not <a href="<%=new_profile_path%>">Created</a><h4>
        <% else %>
        <h4>Stat of my profile: <a href="<%=profile_path(current_user.profile.id)%>"><%=PROFILE_STATS_WORDS[current_user.profile.stat]%></a><h4>
        <% end %>
      </section>
    </span>
  </div>
<% else %>
  <h3>We're Waiting for Your </h3><br>
  <%= link_to "Sign In Now!", signin_path, :class => "btn btn-large btn-primary"%><br>
<% end %>

