<div class="myinfo">
  <dl>
  <section>
    <h1>
      <%= gravatar_for @user %>
      <%= link_to "#{@user.name}", current_user %>
    </h1>
  </section>
  </dl>
  <ul>
    <li>
      <strong> 
      <%if @user.microposts.any? %>
        <%= @user.microposts.count %>
      <%else%>
        <%=0%>  
      <%end%>
      </strong><br>
      <%=link_to "Posted", "#{users_path}/#{@user[:id]}"%>
    </li>
    <li><strong>150</strong><br><%=link_to "Listener", "#"%></li>
    <li><strong>18</strong><br><%=link_to "Friends", "#"%></li>
  </ul>
</div>
