<!--
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
-->
<li>
  <strong> 
  <%if @user.microposts.any? %>
    <%= @user.microposts.count %>
  <%else%>
    <%=0%>  
  <%end%>
  </strong><br>
  <%=link_to "Posted", "#{users_path}/#{@user[:id]}"%>
</li>
<li>
  <strong><%= @user.followers.count %></strong><br>
  <%=link_to "Listener", followers_user_path(@user)%>
</li>
<li> 
  <strong><%= @user.followed_users.count %></strong><br>
  <%=link_to "Following", following_user_path(@user)%>
</li>
