<li>
  <strong> 
  <%if @user.microposts.any? %>
    <%= @user.microposts.count %>
  <%else%>
    <%=0%>  
  <%end%>
  </strong><br>
  <%=link_to "Posted", "#{users_path}/#{@user[:id]}"%>
</li>
<li>
  <strong><%= @user.followers.count %></strong><br>
  <%=link_to "Listener",  listener_user_path(@user.id)  %>
</li>
<li> 
  <strong><%= @user.followed_users.count %></strong><br>
  <%=link_to "Following", following_user_path(@user.id)  %>
</li>
