<li>
<%= link_to gravatar_for(user), user%>
<%= link_to user.name, user %>
<% if current_user.admin? && !current_user?(user) %>
  | <%= link_to "delete", user, method: :delete, data:{ confirm:"You sure?" }   %>
<% end %>
| <%= link_to "Follow",  user, method: :create %>
| <%= link_to "Unfollow", user, method: :delete, data:{ confirm:"You sure?" }  %>
</li>
