<li>
  <div class="best_in_place_div">
    <p>
      <strong>Time</strong>
      <%= education.timeZone %>
      

      <br>
      <strong>Degree:</strong>
      
      <%= best_in_place education, :degree, :type => :select,
                                    :collection => [[0, "Bachelor"],[1, "Master"],[2, "Doctor"],[3, "Other"]] %>
   
      <br>
      <strong>Description:</strong>
      <%= best_in_place education, :description,  :display_as => :description, :type => :textarea, :sanitize => false %>
  </p>
  </div>
  <%= link_to 'Show', education %> |
  <%= link_to 'Edit', edit_education_path(education) %>
  <% if current_user.admin? %>
    | <%= link_to 'Destroy', education, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</li>




