<% @ajax_view ||= false %>
<% provide(:title, "New Education")%>
<p id="notice"><%= notice %></p>

<% if @ajax_view %>
  <div id="new_form_ajax">
  <%= render 'form'%>
  </div>
<%else%>
  <h1>New education</h1>
  <div class="row">
    <aside class="span3">
    <div class="aside-left-my-info">
      <%= render 'shared/my_info' %>
    </div>
    </aside>
    
    <div class="span9 ">
      <div id="education_new_form">
        <%= render 'form' %>
        <%= link_to 'Back', educations_path ,  class:"btn btn-sm btn-primary"%>
      </div>
    </div>
  </div>
<%end%>
