<% provide(:title, "Education")%>
<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="span3">
  <div class="aside-left-my-info">
    <%= render 'shared/my_info' %>
  </div>
  </aside>
  
  <div class="span9 ">
      <ol>
        <%= render @education%>
      </ol>
  </div>
</div>


<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
